    
#about-me-main {
    display: flex;
    justify-content: center;
}
.about-me-content {
    width: 70%;
    margin-top: 20px;
}

.about-me-content h1 {
    border-bottom: 3px solid #355070;
}

.profile-info {
    display: flex;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 3px solid #355070;
}

#profile-img {
    max-width: 25%;
    height: auto;
    border-radius: 5px;
}

.about-me-copy {
    padding: 0px 15px;
    /* width: 38%; */
}

.about-me-copy h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 15px;
}

.about-me-copy p {
    font-size: 20px;
    margin: 15px 0;
    line-height: 1.3;
}

.interests-skills {
    display: flex;
}

.about-me-list {
    width: 50%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 5px solid #355070;
}

.about-me-list h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.about-me-list ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.about-me-list ul li {
    font-size: 24px;
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {    
    
    
    .about-me-content {
        width: 90%;
        height: auto;
        margin-top: 60px;
    }

    .profile-info {
        display: block;
        padding-bottom: 0;
        border-bottom: none;
    }

    #profile-img {
        max-width: 100%;
        margin: 20px 0;
    }

    .about-me-copy {
        padding-bottom: 15px;
        border-bottom: 5px solid #355070;
        width: 100%;
    }

    .about-me-copy h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 800;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .about-me-copy p {
        font-size: 20px;
        margin: 15px 0;
        line-height: 1.3;
    }

    .interests-skills {
        display: block;
    }

    .about-me-list {
        margin: 30px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
        border-bottom: 5px solid #355070;
    }

    .about-me-list h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }

    .about-me-list ul {
        list-style: none;
        text-align: center;
        padding: 0;
    }

    .about-me-list ul li {
        font-size: 24px;
        margin: 10px 0;
    }
}