/* This stylesheet contains styling for the about me page including the following components: image, profile, skills/interest lists */

#about-me-main {
    display: flex;
    justify-content: center;
}
.about-me-content {
    width: 70%;
    margin-top: 20px;
}

.about-me-content h1 {
    border-bottom: 4px solid #355070;
}

.profile-info {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #355070;
}

/* Start of image styling */
.img-container {
    width: 50%;
}

#profile-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/* End of image styling */


/* Start of profile styling */
.copy-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me-copy {
    padding: 0px 15px;
}

.about-me-copy h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 15px;
}

.about-me-copy p {
    font-size: 20px;
    margin: 15px 0;
    line-height: 1.3;
}

.copy-container h3 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
    margin-top: 30px;
    font-size: 32px;
}

.about-me-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
}

.about-me-links a {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #355070;
}

.about-me-links a:hover {
    color: #e56b6f;
    transition: 0.3s;
}
/* End of profile styling */


/* Start of skills/interest lists styling */
.interests-skills {
    display: flex;
}

.about-me-list {
    width: 50%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 4px solid #355070;
}

.about-me-list h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.about-me-list ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.about-me-list ul li {
    font-size: 24px;
    margin: 10px 0;
}
/* End of skills/interests lists styling */

@media only screen and (max-width: 1300px) {
    .about-me-content {
        width: 85%;
    }
}

@media only screen and (max-width: 1200px) {
    .profile-info {
        justify-content: space-between;
    }
    .img-container {
        width: 40%;
    }
    .copy-container {
        width: 60%;
    }
    .about-me-links a {
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {    
    .about-me-content {
        width: 90%;
        height: auto;
        margin-top: 60px;
    }

    .profile-info {
        display: block;
        padding-bottom: 0;
        border-bottom: none;
    }

    /* Image starts */
    .img-container {
        width: 100%;
    }

    #profile-img {
        max-width: 100%;
        margin: 20px 0;
    }
    /* Image ends */


    /* Profile starts */
    .copy-container {
        width: 100%;
    }

    .about-me-copy {
        padding: 0 0 15px 0;
        width: 100%;
    }

    .about-me-copy h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 800;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .about-me-copy p {
        font-size: 20px;
        margin: 15px 0;
        line-height: 1.3;
    }

    .copy-container h3 {
        margin-top: 15px;
        padding-left: 0px;
        font-size: 30px;
    }

    .about-me-links {
        border-bottom: 4px solid #355070;
        padding: 15px 0 40px 0;
    }

    .about-me-links a {
        font-size: 18px;
    }
    /* Profile ends */


    /* Lists start */
    .interests-skills {
        display: block;
    }

    .about-me-list {
        margin: 30px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
        border-bottom: 4px solid #355070;
    }

    .about-me-list h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }

    .about-me-list ul {
        list-style: none;
        text-align: center;
        padding: 0;
    }

    .about-me-list ul li {
        font-size: 24px;
        margin: 10px 0;
    }
    /* Lists end */
}