/* This stylesheet contains styles for the all footer components throughout the site */

footer {
    height: 40px;
    width: 100%;
    background: #e56b6f;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.copyright {
    font-size: 18px;
    font-weight: 600;
}

/* Index and contact footer start - desktop*/
#footer-home, #footer-contact {
    display: none;
}
/* Index and contact footer end - desktop */


/* Blog post footer start */
#proj-footer {
    position: fixed;
    bottom: 0;
}
/* Blog post footer end */


@media only screen and (max-width: 1200px) {
    /* Blog post footer start */
    #proj-footer {
        position: relative;
    }
    /* Blog post footer end */
}

@media only screen and (max-width: 992px) {
    /* Contact page footer start */
    #footer-contact {
        display: flex;
    }
    /* Contact page footer end */
}

@media only screen and (max-width: 768px) {
    /* Index page footer start */
    #footer-home {
        display: flex;
    }
    /* Index page footer end */


    /* Footer start */
    footer {
        height: 40px;
        width: 100%;
        background: #e56b6f;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .copyright {
        font-size: 14px;
        font-weight: 600;
    }
    /* Footer end */
}