footer {
    height: 40px;
    width: 100%;
    background: #e56b6f;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    /* bottom: 0; */
}

.footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.copyright {
    font-size: 18px;
    font-weight: 600;
}

/* Index and contact footer */
#footer-home, #footer-contact {
    display: none;
}

#proj-footer {
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 1200px) {
    #proj-footer {
        position: relative;
    }
}

@media only screen and (max-width: 992px) {
    #footer-contact {
        display: flex;
    }
}

@media only screen and (max-width: 768px) {
    #footer-home {
        display: flex;
    }

    footer {
        height: 40px;
        width: 100%;
        background: #e56b6f;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        /* position: absolute; */
        /* bottom: 0; */
    }
    
    .footer {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .copyright {
        font-size: 14px;
        font-weight: 600;
    }
}