/* Remove margin from the body and set default fonts */
* {
    text-decoration: none;
    margin: 0;
}

body {
    /* width: 100vw; */
    font-family: 'Judson', serif;
    background: #f7ede2;
}

/* Start of navbar styling */
.index-navbar {
    width: 100%;
    height: 60px;
    /* background: #b75558; */
    position: absolute;
    display: flex;
    justify-content: center;
    
}

.navbar {
    width: 100%;
    height: 60px;
    background: #e56b6f;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    
}

.nav-content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content-alt {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;

}

.nav-options {
    list-style: none;
    display: flex;
    box-sizing: border-box;
    padding: 0;
}

.nav-link, .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    box-sizing: border-box;
    border-radius: 3px;
}

.nav-link {
    padding: 5px 10px;
    margin: 0 2px;
    
}

.logo {
    letter-spacing: 3px;
    font-weight: 700;
    padding: 5px 0;
    font-size: 32px;
}

.nav-link:hover {
    background: #e56b6f;
    transition: 0.5s;
}

.check-btn {
    display: none;
    font-size: 24px;
    /* margin: 0 10px; */
    color: black;
    align-self: center;
}

#check {
    display: none;
}

.container {
    height: 100vh;
    display: flex;
    box-sizing: border-box;
}

/* Heading sections starts */
.heading-section {
    height: 100%;
    width: 60%;
    background: #e56b6f;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.heading {
    width: 75%;
}

h1, #my-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 1.5;
}

#my-name {
    color: #f6bd60;
}

/* Heading section ends */

/* Description sections starts */
.description-section {
    width: 40%;
    height: 100vh;
    background: #f7ede2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.description {
    width: 60%;
    font-size: 20px;
    text-align: center;
    margin-top: 20%;
    border-top: 3px solid #355070;
    border-bottom: 3px solid #355070;
}

.description p {
    margin: 25px 0;
    line-height: 1.5;
    font-size: 24px;
}

.contact-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.contact-links a {
    font-size: 24px;
    color: black;
}
/* Description section ends */


@media only screen and (max-width: 992px) {
    .nav-link {
        font-size: 18px;
    }

    .navbar {
        height: 50px;
    }

    .heading h1 {
        font-size: 40px;
    }

    #my-name {
        font-size: 40px;
    }

    .description p {
        font-size: 20px;
    }

    .contact-links {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 768px) {
    /* Start of navbar styling */
    .index-navbar {
        position: fixed;
        top: 0;
    }
    
    .nav-content {
        width: 90%;
        background: #e56b6f;
    }
    
    .nav-options {
        width: 50vw;
        height: 100vh;
        background: #e56b6f;
        position: absolute;
        top: 50px;
        right: -50%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        font-size: 24px;
    }

    .check-btn {
        display: block;
    }

    #check:checked ~ .nav-options {
        display: flex;
        right: 0;
        transition: 2s;
    }

    /* End of navbar styling */

    .container {
        flex-direction: column;
        max-width: 100vw;
        height: auto;
    }
    
    .heading-section {
        height: 100vh;
        width: 100vw;
    }

    .heading {
        width: 90%;
    }

    .description-section {
        width: 100vw;
        height: calc(100vh - 120px);
    }

    .description {
        margin-top: 60px;
        width: 90%;
    }

    .contact-links {
        margin: 60px 0;
    }

    .nav-options li {
        margin: 25px 0;
    }

    .nav-link {
        font-size: 24px;
    }
}


/* Homepage content starts */
