/* Remove margin from the body and set default fonts */
* {
    margin: 0;
    font-family: 'Fauna One', serif;
    text-decoration: none;
}

/* Start of navbar styling */
.navbar {
    width: 100%;
    height: 60px;
    background: #e56b6f;
    display: flex;
    justify-content: center;
    
}

.nav-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;

}

.nav-options {
    list-style: none;
    display: flex;
    box-sizing: border-box;
    padding: 0;
}

.nav-link, .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 2px;
    padding: 5px 10px;
    color: black;
    box-sizing: border-box;
    border-radius: 3px;
}

.logo {
    letter-spacing: 5px;
    font-weight: 700;
}

.nav-link:hover {
    background: #ce6063;
    transition: 0.5s;
}

.check-btn {
    display: none;
    font-size: 24px;
    margin: 0 10px;
    color: black;
    align-self: center;
}

#check {
    display: none;
}

@media only screen and (max-width: 992px) {
    .nav-link, .logo {
        font-size: 18px;
    }

    .navbar {
        height: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-content {
        width: 100%;
    }
    
    .nav-options {
        width: 50vw;
        height: 100vh;
        background: #e56b6f;
        position: absolute;
        top: 60px;
        right: -52%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .check-btn {
        display: block;
        padding: 0 10px;
    }

    #check:checked ~ .nav-options {
        right: 0;
        transition: 0.7s;
    }
}
/* End of navbar styling */

/* Homepage content starts */
.container {
    height: calc(100vh - 60px);
    display: flex;
}

/* Heading sections starts */
.heading-section {
    height: 100%;
    width: calc(100vw / 1.618);
    background: #e56b6f;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.heading {
    width: 70%;
}

h1, #my-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 1.5;
}

#my-name {
    color: #f6bd60;
}
/* Heading section ends */

