.my-work-content {
    width: 70%;
    margin: 20px auto;
}

.my-work-content h1 {
    margin-bottom: 25px;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 5px 1px rgba(135,135,135,1);
    margin-bottom: 40px;
    border-radius: 5px;
    background: white;
}

.card-img {
    padding: 10px;
}

.card-img img {
    width: 100%;
}

.card-info {
    padding: 0 10px 10px 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.card-title {
    width: 75%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title h3 {
    font-size: 24px;
}

.card-title button {
    width: 40%;
    padding: 5px 0;
    border-radius: 5px;
    border-color: #355070;
    color: white;
    background: #355070;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.2);
    text-shadow: none;
}

.card-info * {
    font-family: 'Montserrat', sans-serif;
    color: #355070; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.card-title button:hover {
    color: #355070;
    background: white;
}

.card-date {
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    font-weight: 700;
    
}

.card-day {
    font-size: 36px;
}

.card-month {
    font-size: 28px;
}

@media only screen and (max-width: 1300px) {
    .my-work-content {
        width: 85%;
        margin: 20px auto;
    }
    
    .card-info {
        height: 60px;
    }
    
    .card-title h3 {
        font-size: 18px;
    }

    .card-title button {
        font-size: 12px;
        padding: 3px 0;
    }

    .card-day {
        font-size: 28px;
    }

    .card-month {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {    
    .my-work-content {
        margin: 60px auto;
        width: 90%;
    }

    /* Card styles start here */
    .card-container {
        margin-top: 20px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        border-radius: 3px;
    }

    .card-img {
        width: 100%;
        padding: 1px;
        box-sizing: border-box;
    }

    .card-img {
        border-radius: 3px 3px 0 0;
        border-bottom: none;
    }

    .card-img img {
        max-width: 99%;
        padding: 2px;
    }

    .card-info {
        height: 80px;
        padding: 0 10px 10px 10px;
        border-radius: 0 0 3px 3px;
    }

    .card-title h3 {
        font-size: 24px;
    }

    .card-title button {
        font-size: 16px;
        padding: 5px 0;
    }

    .card-date {
        padding: 2px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        font-weight: 700;
        
    }

    .card-day {
        font-size: 36px;
    }

    .card-month {
        font-size: 28px;
    }
}
/* Card styles end */